/*
  Ahnsik 홈페이지의 기본 스타일 쉬트
  - 모바일 스타일
  by Ahnsik.Choi
*/

li { list-style: none; }
a { text-decoration: none; }

@media ( max-width: 768px ) {
  /* 모바일 브라우저 용 - 휴대폰 - max-width: 768px 는 0 ~ 768 까지 */
  * {
    margin: 0; padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: "777Redpostbox", Helvetica, Arial, sans-serif;
    color: #58666e;
    background-color: #f0f3f4;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjus: 100%;  /* iphone font size 변경 방지 */
    line-height: 150%;
  }
  h1, h2, h3, h4, h5, h6, p {
    margin: 10px 5px;
  }
  h1 { font-size: 1.8em; }

  /* Navigation bar */
  header {
    font-family: 'Helvetica';
    position: fixed;          /* for sticky header */
    top: 0;
    width: 100%;
    height: 40px;
    z-index: 2000;
    background-color: #DDC;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05), 0 2px 0 rgba(0, 0, 0, 0.05);
    border-radius: 40px 0px;
    border: 3px solid #2F3EAD;
  }
  .logo {
    display: inline-block;
    height: 28px;
    margin: 2px 0 2px 32px;
  }
  .logo > img { height: 28px; }
  nav {
    float: right;
  }
  .nav-items {
    margin-right: 20px;
  }
  .nav-items > li {
    display: inline-block;  /* 가로정렬 */
  }
  .nav-items > li > a {
    /* for Vertical Centering */
    line-height: 40px;
    padding: 0 5px;
    color: rgba(0, 0, 0, 0.4);
  }
  .nav-items > li > a:hover {
    color: rgba(0, 0, 0, 0.8);
  }

  .control_button {
    display: inline-block;
  }

  /* contents */
  /* clearfix */
  #content-wrap:after {
    content: "";
    display: block;
    clear: both;
  }
  aside {
    /* for fixed side bar */
    font-family: "BinggraeMelona", Helvetica, Arial, sans-serif;
    /* position: relative; */
    /* top: 60px;
    bottom: 0; */
    /* width: 200px;  /* 너비 고정 */
    padding-top: 25px;
    background-color: #444;
    display: none;
  }
  /* Section */
  section {
    /* float: right; */
    margin: 50px 10px 0 0;
    width: 100%;
  }
  article {
    margin: 10px;
    padding: 5px;
    background-color: white;
  }
  article h1 {
    display: inline-block;
  }
  article .date_written {
    float: right;
    margin: 6px;
    color: #888;
    background-color: #DDD;
  }
  article pre {
    background-color: rgb(153, 153, 153);
  }
}

@media ( min-width: 769px ) {
  /* PC 브라우저 용 - FHD - min-width: 769px 는 769 ~ 부터 */
  * {
    margin: 0; padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: "777Redpostbox", Helvetica, Arial, sans-serif;
    color: #58666e;
    background-color: #f0f3f4;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjus: 100%;  /* iphone font size 변경 방지 */
    line-height: 150%;
  }
  li { list-style: none; }
  a { text-decoration: none; }
  h1, h2, h3, h4, h5, h6, p {
    margin: 10px 5px;
  }
  h1 {
    border-radius: 40px;
    border-color: #2F3EAD;
    background-color: rgb(206, 206, 206);
    padding: 5px 15px;
    font-size: 1.8em;
  }
  #wrap {
    width: 100%;
    margin-top: 60px;         /* margin-top = header height */
  }

  /* Navigation bar */
  header {
    font-family: 'Helvetica';
    position: fixed;          /* for sticky header */
    top: 0;
    width: 100%;
    height: 60px;
    z-index: 2000;
    background-color: #DDC;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05), 0 2px 0 rgba(0, 0, 0, 0.05);
    border-radius: 50px 0px;
    border: 3px solid #2F3EAD;
  }
  .logo {
    display: inline-block;
    height: 40px;
    margin: 8px 0 8px 40px;
  }
  .logo > img { height: 40px; }
  nav {
    float: right;
  }
  .nav-items {
    margin-right: 20px;
  }
  .nav-items > li {
    display: inline-block;  /* 가로정렬 */
  }
  .nav-items > li > a {
    /* for Vertical Centering */
    line-height: 60px;
    padding: 0 20px;
    color: rgba(0, 0, 0, 0.4);
  }
  .nav-items > li > a:hover {
    color: rgba(0, 0, 0, 0.8);
  }

  /* contents */
  /* clearfix */
  #content-wrap:after {
    content: "";
    display: block;
    clear: both;
  }
  aside {
    /* for fixed side bar */
    font-family: "BinggraeMelona", Helvetica, Arial, sans-serif;
    position: fixed;
    top: 60px;
    bottom: 0;
    width: 200px;  /* 너비 고정 */
    padding-top: 25px;
    background-color: #444;
  }
  /* aside navigation */
  aside > ul {
    width: 200px;
  }
  aside > ul > li > a {
    display: block;
    color: #fff;
    padding: 10px 0 10px 20px;
  }
  aside > ul > li > a.active {
    background-color: #164;
    /* background-color: #4CAF50;   #7FC*/
  }
  aside > ul > li > a:hover:not(.active) {
    background-color: #555;
  }
  aside > h1 {
    padding: 20px 0 20px 20px;
    color: #fff;
  }
  aside > h1 > sub,sup {
    font-size: 50%;
    color: #888;
  }
  /* Section */
  section {
    /* float: right; */
    /* aside width */
    /* margin-left: 200px; */
  }
  article {
    margin: 10px;
    padding: 25px;
    background-color: white;
    margin-left: 225px;
  }
  article pre {
    background-color: rgb(230, 222, 207);
  }
  article .date_written {
    color: #888;
    background-color: #DDD;
  }

  #thumbnail {
    position: relative;
    float: right;
  }

  .header_info {
    margin: 7px;
    padding: 5px, 30px;
    background-color: #DDC;
    border-radius: 10px;
  }
  .space {
    margin: 0px 10px;
  }

  #thumbnail {
    position: relative;
    margin-bottom: 10px;
  }
  .dialog {
    display: block;
    width: 16em;
    height: 22em;
    background-color: rgba(192, 223, 250, 0.8);
    padding: 10px;
    margin: 30px;
    border: rgb(255, 119, 119) 6px solid;
    align-items: center;
    overflow: hidden;   // Scroll Bar 표시 안되게.
    /* left: 250px;
    top: 200px;
    position: fixed; */
  }
  .dialog.closed {
    /* display: none; */
    border: rgb(168, 134, 134) 2px solid;
  }
  .dialog .label {
    width: 8em;
    height: 1.4em;
    align-items: right;
  }
  .dialog input {
    width: 6em;
    height: 1.4em;
  }

  .dlg_title {
    background-color: rgb(193, 233, 183);
    padding: 3px;
    margin: 8px;
    font-size: 32px;
  }

  .dialog.focus {
    border: #4346ff 3px dotted;
  }
}

/* footer */
footer {
  /* footer를 aside위에 올리기 위해 사용(부유객체) */
  /* position: fixed; */
  font-family: 'Helvetica';
  position: absolute;
  height: 36px;
  width: 100%;
  padding: 0 12px;
  line-height: 40px;
  color: #888;
  border-top: 1px solid #dee5e7;
  background-color: #EEE;
}

#finger_guide {
  position: fixed;
  float: right;
  right: 10px;
  /* top: 15px; */
  width: 88px;
  overflow: scroll;
  text-align: right;
}
